<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='to-do-logo.png') }}" alt="App Logo" class="logo"></a>
                <span>To-Do</span>
            </div>
            <div class="nav-right">
                 <!-- Dropdown Menu -->
                <div class="dropdown">
                    <button class="dropbtn">
                        <img src="{{ url_for('static', filename='profile-pic.jpg') }}" alt="Profile" class="profile-pic">
                    </button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('account') }}">Account Settings</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <h1>About Us</h1>
        <section>
            <p>Our mission is to help you stay organized and improve your productivity by providing an easy-to-use and efficient task management app.</p>
            <p>We aim to become the go-to productivity partner for users globally by continuously enhancing the app's features and user experience.</p>
            <p>If you'd like to learn more or have any inquiries, feel free to reach out to us at <a href="mailto:jumoyz@gmail.com">jumoyz@gmail.com</a>.</p>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="{{ url_for('static', filename='to-do-logo.png') }}" alt="App Logo">
                <p>Your Productivity Partner</p>
            </div>
            <div class="footer-links">
                <a href="{{ url_for('privacy') }}">Privacy Policy</a>
                <a href="{{ url_for('terms') }}">Terms of Service</a>
                <a href="{{ url_for('about') }}">About To-Do</a>
                <a href="{{ url_for('feedback') }}">Provide Feedback</a>
            </div>
            <div class="footer-social">
                <a href="https://facebook.com/jumoyz" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="https://x.com/jumoyz" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com/jumoyz13" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="footer-credit">&copy; {{ year }} To-Do App. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
